<!DOCTYPE html>
<html>
<head>
  <title>UScontracting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="wrapper">
    <header class="container">
      <div class="row">
        <div class="span12">
        <div class="extraneous-non-semantic-markup">
          <h1><%= image_tag "us_contracting_logo.png", :alt => "UScontracting, Inc." %></h1>
        </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <aside class="span2">
        <div class="extraneous-non-semantic-markup">
          <ul class="nav nav-pills nav-stacked">
            <li <%= " class='active'" if "/"==request.fullpath %>><a href="/">Home</a></li>
            <li <%= " class='active'" if "/employee-links"==request.fullpath %>><a href="/employee-links">Employee Links</a></li>
          </ul>
          <address>
            <strong>UScontracting</strong><br>
            246 Nottingham Road<br>
            Annapolis, MD 21405<!-- <br>
            <abbr title="Phone">P:</abbr>
            <span><span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">() -</span></span>
            -->
          </address>
        </div>
        </aside>
        <div id="content" class="span10 filler">
        <div class="extraneous-non-semantic-markup">
            <%= yield %>
        </div>
        </div>
      </div>
      <div class="push"><!--//--></div>

    </div>
  </div>

  <footer>
    <div class="container">
      <p>&copy; 2012 UScontracting, Inc.</p>
    </div>
  </footer>

</body>
</html>
